doctype html
html(lang="ru")
    head
        include modules/head
    body
        include modules/header
        include modules/body
        include modules/footer
    script(src="https://code.jquery.com/jquery-3.6.1.min.js")
    script(src="../js/calcCartPrice.js")    
    script(src="../js/main.js")
    script(src="../js/phone-mask.js")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=c13e6e6f-db8b-4bf5-81f2-daba5665b41f" type="text/javascript")